# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
.env/

# VS Code / PyCharm / IDE stuff
.idea/
.vscode/

# Environment variables and secrets
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Data
data/